From: <%= mail.from %><br />
<% if mail.reply_to %>
  Reply-To:<%= mail.reply_to %><br />
<% end %>
Subject: <%= mail.subject %><br />
Date: <%= Time.now.strftime("%b %e, %Y %I:%M:%S %p %Z") %><br />
To: <%= mail.to %><br />

<% if mail.multipart? %>
    <% if body_part.content_type && body_part.content_type.match(/text\/html/) %>
      <a href="<%= name %>.txt">View Plain Text</a>
    <% else %>
      <a href="<%= name %>.html">View HTML</a>
    <% end %>
<% end %>

<% if body_part.content_type && body_part.content_type.match(/text\/html/) %>
  <%= body_part.body %>
<% else %>
  <pre id="message_body"><%= body_part.body %></pre>
<% end %>